<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ManageCategorias</servlet-name>
        <servlet-class>arcade.controller.ManageCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageClientes</servlet-name>
        <servlet-class>arcade.controller.ManageClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCotizaciones</servlet-name>
        <servlet-class>arcade.controller.ManageCotizaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEstados</servlet-name>
        <servlet-class>arcade.controller.ManageEstados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMenu</servlet-name>
        <servlet-class>arcade.controller.ManageMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMetodosPago</servlet-name>
        <servlet-class>arcade.controller.ManageMetodosPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMunicipios</servlet-name>
        <servlet-class>arcade.controller.ManageMunicipios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageNoticias</servlet-name>
        <servlet-class>arcade.controller.ManageNoticias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePaises</servlet-name>
        <servlet-class>arcade.controller.ManagePaises</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductos</servlet-name>
        <servlet-class>arcade.controller.ManageProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProveedores</servlet-name>
        <servlet-class>arcade.controller.ManageProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePuesto</servlet-name>
        <servlet-class>arcade.controller.ManagePuesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTasas</servlet-name>
        <servlet-class>arcade.controller.ManageTasas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUnidadesMedida</servlet-name>
        <servlet-class>arcade.controller.ManageUnidadesMedida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsuario</servlet-name>
        <servlet-class>arcade.controller.ManageUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRequisiciones</servlet-name>
        <servlet-class>arcade.controller.ManageRequisiciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrdenesDeCompra</servlet-name>
        <servlet-class>arcade.controller.ManageOrdenesDeCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageVentas</servlet-name>
        <servlet-class>arcade.controller.ManageVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePagosProveedor</servlet-name>
        <servlet-class>arcade.controller.ManagePagosProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBancos</servlet-name>
        <servlet-class>arcade.controller.ManageBancos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePedidosLaser</servlet-name>
        <servlet-class>arcade.controller.ManagePedidosLaser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageNodosOrganigrama</servlet-name>
        <servlet-class>arcade.controller.ManageNodosOrganigrama</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCuentas</servlet-name>
        <servlet-class>arcade.controller.ManageCuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAgenda</servlet-name>
        <servlet-class>arcade.controller.ManageAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAsignacion</servlet-name>
        <servlet-class>arcade.controller.ManageAsignacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageControlTiempos</servlet-name>
        <servlet-class>arcade.controller.ManageControlTiempos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageConvenio</servlet-name>
        <servlet-class>arcade.controller.ManageConvenio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCodigos</servlet-name>
        <servlet-class>arcade.controller.ManageCodigos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCuentasRelacionadas</servlet-name>
        <servlet-class>arcade.controller.ManageCuentasRelacionadas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEstatus</servlet-name>
        <servlet-class>arcade.controller.ManageEstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEstrategia</servlet-name>
        <servlet-class>arcade.controller.ManageEstrategia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageGestion</servlet-name>
        <servlet-class>arcade.controller.ManageGestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePagos</servlet-name>
        <servlet-class>arcade.controller.ManagePagos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageParejas</servlet-name>
        <servlet-class>arcade.controller.ManageParejas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageParejasSupervisor</servlet-name>
        <servlet-class>arcade.controller.ManageParejasSupervisor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRegion</servlet-name>
        <servlet-class>arcade.controller.ManageRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSpeeches</servlet-name>
        <servlet-class>arcade.controller.ManageSpeeches</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMedidores</servlet-name>
        <servlet-class>arcade.controller.ManageMedidores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEnvio</servlet-name>
        <servlet-class>arcade.controller.ManageEnvio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAsignacionOriginal</servlet-name>
        <servlet-class>arcade.controller.ManageAsignacionOriginal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSucursal</servlet-name>
        <servlet-class>arcade.controller.ManageSucursal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEstatusLlamada</servlet-name>
        <servlet-class>arcade.controller.ManageEstatusLlamada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEstatusCuenta</servlet-name>
        <servlet-class>arcade.controller.ManageEstatusCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePagocuenta</servlet-name>
        <servlet-class>arcade.controller.ManagePagocuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMarcacion</servlet-name>
        <servlet-class>arcade.controller.ManageMarcacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageVacante</servlet-name>
        <servlet-class>arcade.controller.ManageVacante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCr</servlet-name>
        <servlet-class>arcade.controller.ManageCr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBasegeneral</servlet-name>
        <servlet-class>arcade.controller.ManageBasegeneral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageGestor</servlet-name>
        <servlet-class>arcade.controller.ManageGestor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEquipo</servlet-name>
        <servlet-class>arcade.controller.ManageEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageNotas</servlet-name>
        <servlet-class>arcade.controller.ManageNotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageIndicador</servlet-name>
        <servlet-class>arcade.controller.ManageIndicador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTicket</servlet-name>
        <servlet-class>arcade.controller.ManageTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportData</servlet-name>
        <servlet-class>ExportData.ExportData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageConsumo</servlet-name>
        <servlet-class>arcade.controller.ManageConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageLog</servlet-name>
        <servlet-class>arcade.controller.ManageLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCierre</servlet-name>
        <servlet-class>arcade.controller.ManageCierre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCategoriaSms</servlet-name>
        <servlet-class>arcade.controller.ManageCategoriaSms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSms</servlet-name>
        <servlet-class>arcade.controller.ManageSms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBlaster</servlet-name>
        <servlet-class>arcade.controller.ManageBlaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTelefono</servlet-name>
        <servlet-class>arcade.controller.ManageTelefono</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageConfig</servlet-name>
        <servlet-class>arcade.controller.ManageConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccesorio</servlet-name>
        <servlet-class>arcade.controller.ManageAccesorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEntrada</servlet-name>
        <servlet-class>arcade.controller.ManageEntrada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageManual</servlet-name>
        <servlet-class>arcade.controller.ManageManual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBlacklist</servlet-name>
        <servlet-class>arcade.controller.ManageBlacklist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageInbound</servlet-name>
        <servlet-class>arcade.controller.ManageInbound</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageContrato</servlet-name>
        <servlet-class>arcade.controller.ManageContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCore</servlet-name>
        <servlet-class>arcade.controller.ManageCore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageHorario</servlet-name>
        <servlet-class>arcade.controller.ManageHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStory</servlet-name>
        <servlet-class>arcade.controller.ManageStory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMetricasOperativas</servlet-name>
        <servlet-class>arcade.controller.ManageMetricasOperativas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePagosDiarios</servlet-name>
        <servlet-class>arcade.controller.ManagePagosDiarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCargarArchivo</servlet-name>
        <servlet-class>arcade.controller.ManageCargarArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageVisitas</servlet-name>
        <servlet-class>ManageVisitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageVisita</servlet-name>
        <servlet-class>arcade.controller.ManageVisita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSolicitud</servlet-name>
        <servlet-class>arcade.controller.ManageSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUpdateCore</servlet-name>
        <servlet-class>arcade.controller.ManageUpdateCore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageReferencias</servlet-name>
        <servlet-class>arcade.controller.ManageReferencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageReferencia</servlet-name>
        <servlet-class>arcade.controller.ManageReferencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDashboardReclutador</servlet-name>
        <servlet-class>arcade.controller.ManageDashboardReclutador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePredictivo</servlet-name>
        <servlet-class>arcade.controller.ManagePredictivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerGestor</servlet-name>
        <servlet-class>callcenter.controller.ControllerGestor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerUsuario</servlet-name>
        <servlet-class>callcenter.controller.ControllerUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerEquipos</servlet-name>
        <servlet-class>callcenter.controller.ControllerEquipos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerDashboardSupervisor</servlet-name>
        <servlet-class>callcenter.controller.ControllerDashboardSupervisor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerOrganigrama</servlet-name>
        <servlet-class>callcenter.controller.ControllerOrganigrama</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerSolicitud</servlet-name>
        <servlet-class>callcenter.controller.ControllerSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerGestorCharbck</servlet-name>
        <servlet-class>callcenter.controller.ControllerGestorCharbck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageCategorias</servlet-name>
        <url-pattern>/ManageCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageClientes</servlet-name>
        <url-pattern>/ManageClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCotizaciones</servlet-name>
        <url-pattern>/ManageCotizaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEstados</servlet-name>
        <url-pattern>/ManageEstados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMenu</servlet-name>
        <url-pattern>/ManageMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMetodosPago</servlet-name>
        <url-pattern>/ManageMetodosPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMunicipios</servlet-name>
        <url-pattern>/ManageMunicipios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageNoticias</servlet-name>
        <url-pattern>/ManageNoticias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePaises</servlet-name>
        <url-pattern>/ManagePaises</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductos</servlet-name>
        <url-pattern>/ManageProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProveedores</servlet-name>
        <url-pattern>/ManageProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePuesto</servlet-name>
        <url-pattern>/ManagePuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTasas</servlet-name>
        <url-pattern>/ManageTasas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUnidadesMedida</servlet-name>
        <url-pattern>/ManageUnidadesMedida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsuario</servlet-name>
        <url-pattern>/ManageUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRequisiciones</servlet-name>
        <url-pattern>/ManageRequisiciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrdenesDeCompra</servlet-name>
        <url-pattern>/ManageOrdenesDeCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageVentas</servlet-name>
        <url-pattern>/ManageVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePagosProveedor</servlet-name>
        <url-pattern>/ManagePagosProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBancos</servlet-name>
        <url-pattern>/ManageBancos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePedidosLaser</servlet-name>
        <url-pattern>/ManagePedidosLaser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageNodosOrganigrama</servlet-name>
        <url-pattern>/ManageNodosOrganigrama</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCuentas</servlet-name>
        <url-pattern>/ManageCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAgenda</servlet-name>
        <url-pattern>/ManageAgenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAsignacion</servlet-name>
        <url-pattern>/ManageAsignacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageControlTiempos</servlet-name>
        <url-pattern>/ManageControlTiempos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageConvenio</servlet-name>
        <url-pattern>/ManageConvenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCodigos</servlet-name>
        <url-pattern>/ManageCodigos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCuentasRelacionadas</servlet-name>
        <url-pattern>/ManageCuentasRelacionadas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEstatus</servlet-name>
        <url-pattern>/ManageEstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEstrategia</servlet-name>
        <url-pattern>/ManageEstrategia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageGestion</servlet-name>
        <url-pattern>/ManageGestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePagos</servlet-name>
        <url-pattern>/ManagePagos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageParejas</servlet-name>
        <url-pattern>/ManageParejas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageParejasSupervisor</servlet-name>
        <url-pattern>/ManageParejasSupervisor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRegion</servlet-name>
        <url-pattern>/ManageRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSpeeches</servlet-name>
        <url-pattern>/ManageSpeeches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMedidores</servlet-name>
        <url-pattern>/ManageMedidores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEnvio</servlet-name>
        <url-pattern>/ManageEnvio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAsignacionOriginal</servlet-name>
        <url-pattern>/ManageAsignacionOriginal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSucursal</servlet-name>
        <url-pattern>/ManageSucursal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEstatusLlamada</servlet-name>
        <url-pattern>/ManageEstatusLlamada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEstatusCuenta</servlet-name>
        <url-pattern>/ManageEstatusCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePagocuenta</servlet-name>
        <url-pattern>/ManagePagocuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMarcacion</servlet-name>
        <url-pattern>/ManageMarcacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageVacante</servlet-name>
        <url-pattern>/ManageVacante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCr</servlet-name>
        <url-pattern>/ManageCr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBasegeneral</servlet-name>
        <url-pattern>/ManageBasegeneral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageGestor</servlet-name>
        <url-pattern>/ManageGestor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEquipo</servlet-name>
        <url-pattern>/ManageEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageNotas</servlet-name>
        <url-pattern>/ManageNotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageIndicador</servlet-name>
        <url-pattern>/ManageIndicador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTicket</servlet-name>
        <url-pattern>/ManageTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportData</servlet-name>
        <url-pattern>/ExportData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageConsumo</servlet-name>
        <url-pattern>/ManageConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageLog</servlet-name>
        <url-pattern>/ManageLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCierre</servlet-name>
        <url-pattern>/ManageCierre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCategoriaSms</servlet-name>
        <url-pattern>/ManageCategoriaSms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSms</servlet-name>
        <url-pattern>/ManageSms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBlaster</servlet-name>
        <url-pattern>/ManageBlaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTelefono</servlet-name>
        <url-pattern>/ManageTelefono</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageConfig</servlet-name>
        <url-pattern>/ManageConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccesorio</servlet-name>
        <url-pattern>/ManageAccesorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEntrada</servlet-name>
        <url-pattern>/ManageEntrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageManual</servlet-name>
        <url-pattern>/ManageManual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBlacklist</servlet-name>
        <url-pattern>/ManageBlacklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageInbound</servlet-name>
        <url-pattern>/ManageInbound</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageContrato</servlet-name>
        <url-pattern>/ManageContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCore</servlet-name>
        <url-pattern>/ManageCore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageHorario</servlet-name>
        <url-pattern>/ManageHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStory</servlet-name>
        <url-pattern>/ManageStory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMetricasOperativas</servlet-name>
        <url-pattern>/ManageMetricasOperativas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePagosDiarios</servlet-name>
        <url-pattern>/ManagePagosDiarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCargarArchivo</servlet-name>
        <url-pattern>/ManageCargarArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageVisitas</servlet-name>
        <url-pattern>/ManageVisitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageVisita</servlet-name>
        <url-pattern>/ManageVisita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSolicitud</servlet-name>
        <url-pattern>/ManageSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUpdateCore</servlet-name>
        <url-pattern>/ManageUpdateCore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageReferencias</servlet-name>
        <url-pattern>/ManageReferencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageReferencia</servlet-name>
        <url-pattern>/ManageReferencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDashboardReclutador</servlet-name>
        <url-pattern>/ManageDashboardReclutador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePredictivo</servlet-name>
        <url-pattern>/ManagePredictivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerGestor</servlet-name>
        <url-pattern>/ControllerGestor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerUsuario</servlet-name>
        <url-pattern>/ControllerUsuario</url-pattern>
    </servlet-mapping>
        <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>
        ARCADE Software. Call Center. Marcador Predictivo.
    </display-name>
    <servlet-mapping>
        <servlet-name>ControllerEquipos</servlet-name>
        <url-pattern>/ControllerEquipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerDashboardSupervisor</servlet-name>
        <url-pattern>/ControllerDashboardSupervisor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerOrganigrama</servlet-name>
        <url-pattern>/ControllerOrganigrama</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerSolicitud</servlet-name>
        <url-pattern>/ControllerSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerGestorCharbck</servlet-name>
        <url-pattern>/ControllerGestorCharbck</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>arcade_call</description>
        <res-ref-name>jdbc/arcade_call</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
